@media (min-width: 320px) {
    body {
        background-color: rgba(241, 255, 239, 1);
    }
    .head_circle {
        position: fixed;
        top: -60%;
        left: -4.5%;
        width: 110%;
        height: 80%;
        border-radius: 999em;
        background-color: rgba(217, 217, 217, 0.7);
        z-index: 2;
    }
    .topic {
        position: fixed;
        left: 40%;
        text-align: center;
        color: white;
        z-index: 3;
    }
    #index_back {
        width: 103%;
        margin: -8px;
        top: 0%;
    }
    footer {
        position: fixed;
        background: #B6FFB5;
        width: 101%;
        height: 100px;
        margin: -8px;
        bottom: 0%;
        z-index: 2;
    }
    .foot_bottom {
        position: relative;
        bottom: 10px;
        margin: 20px 4.5% 5px 4.5%;
        z-index: 3;
    }
}
@media (min-width: 720px) {

}
@media (min-width: 1024px) {

}