@media (min-width: 320px) {
    body {
        background-color: rgba(127, 183, 93, 0.7);
    }
    .space {
        width: 100%;
    }
    h3 {
        text-align: center;
        color: white;
    }
    #fb-pic {
        margin: 15% 15% 10% 30%;
        width: 30%;
    }
    .fb {
        color: white;
        font-size: 20px;
        margin-left: 15%;
    }
    .facebook>input {
        margin: 2px 20px 0 20px;
        font-size: 30px;
        padding: 2px 4px;
    }
    #send {
        background: rgba(44, 179, 82, 0.27);
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        width: 146px;
        font-size: 18px;
        padding: 10px 0;
        color: #FFFFFF;
        text-align: center;
        margin: 10px 0 0 30%;
    }
}
@media (min-width: 720px) {

}
@media (min-width: 1024px) {

}
